*{
    margin:0;
    padding: 0;
}
textarea {
    width: 400px;
    height: 200px;
    resize: none;    
}

#terminal__id {
    text-align: center;
}

button{
    padding:5px;
    border-radius: 10px;
}